body {
    margin: 0;
    overflow: hidden;
    font-family: "Arial Black", "Arial-BoldMT", "sans-serif";
    vertical-align: baseline;
    overflow: hidden;
    position: relative;

    .main-container {
        background-image: url("./img/site_bg.png");
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: auto;

        .primary-content {
            padding: 1rem;

            @media(min-width: 600px) {
                padding: 2.5% 20% 0 10%;
            }

            .title {
                max-width: 28rem;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .links {
                padding-bottom: 3rem;
                
                ul {
                    li {
                        list-style: none;
                        a {
                            color: white;
                            font-size: 30px;
                            font-weight: bold;
                            text-decoration: none;

                            &:hover {
                                color: goldenrod;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .spotify-embed {
                    padding-top: 3rem;
                    width: 60%;
                    border-radius: 12px;
                    margin-left: 4rem;
                }
            }
        }
    }
}

@media screen and (min-width:600px) {
    .links {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width:700px) {
    body > .main-container > .primary-content > .links {

        padding-bottom: 0rem;

        ul {
            li {
                a {
                   font-size: 22px; 
                   line-height: 1.6;
                }
            }
        }

        .spotify-embed {
            padding-top: 1rem;
            margin-left: 10%;
        }
    }
}